@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
}

.header, .hero {
	background-color: #1f2937;
	padding: 0 10% 5% 10%;
}

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

img[alt="logo"] {
	max-width: 100px;
	margin-right: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	gap: 18px;
}

a {
	text-decoration: none;
	color: #e5e7eb;
	font-size: 18px;
}

.hero {
	display: flex;
}

.hero-text {
	flex: auto;
	color: #f9faf8;
	font-size: 18px;
}

.hero-text h1 {
	margin: 0;
}

.hero-text p {
	color: #e5e7eb;
	font-size: 14px;
	margin: 4px 0 12px 0;
}

.hero img {
	flex: auto;
	width: 350px;
	border-radius: 5%;
}

button {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #e5e7eb;
	background-color: #3882f6;
	border-radius: 8px;
	border-style: none;
	padding: 6px 28px;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 32px 0 96px 0;
}

.display {
	display: flex;
	gap: 48px;
}

.display p {
	width: 150px;
	text-align: center;
	font-size: 14px;
	color: #555555;
	margin: 4px;
}

.display img {
	width: 150px;
	border-radius: 5%;
	border-style: solid;
	border-color: #79bb44;
}